Lien kaggle : https://www.kaggle.com/datasets/atharvaingle/crop-recommendation-dataset/data

# On commance par importer les librairies

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split # pour separer notre data
from sklearn.ensemble import RandomForestClassifier # Un classifier
from sklearn.metrics import accuracy_score # Pour estimer la validite du model
import pickle # pour sauvegarder le classifieur

# On lis le dataframe

In [10]:
df = pd.read_csv("Crop_recommendation.csv")

# Un peut d'exploration

In [11]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

### On voit s'il y a des valeurs null

In [12]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

### On vois les valeurs unique de la colomne lable

In [13]:
df.label.unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

# On nettoie la dataframe

In [21]:
crop_dict = {
    'rice': 1,
    'maize': 2,
    'jute': 3,
    'cotton': 4,
    'coconut': 5,
    'papaya': 6,
    'orange': 7,
    'apple': 8,
    'muskmelon': 9,
    'watermelon': 10,
    'grapes': 11,
    'mango': 12,
    'banana': 13,
    'pomegranate': 14,
    'lentil': 15,
    'blackgram': 16,
    'mungbean': 17,
    'mothbeans': 18,
    'pigeonpeas': 19,
    'kidneybeans': 20,
    'chickpea': 21,
    'coffee': 22
}
df['crop_num']=df['label'].map(crop_dict)


df=df.drop('label',axis=1)
df

        N   P   K  temperature   humidity        ph    rainfall  crop_num
0      90  42  43    20.879744  82.002744  6.502985  202.935536         1
1      85  58  41    21.770462  80.319644  7.038096  226.655537         1
2      60  55  44    23.004459  82.320763  7.840207  263.964248         1
3      74  35  40    26.491096  80.158363  6.980401  242.864034         1
4      78  42  42    20.130175  81.604873  7.628473  262.717340         1
...   ...  ..  ..          ...        ...       ...         ...       ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507        22
2196   99  15  27    27.417112  56.636362  6.086922  127.924610        22
2197  118  33  30    24.131797  67.225123  6.362608  173.322839        22
2198  117  32  34    26.272418  52.127394  6.758793  127.175293        22
2199  104  18  30    23.603016  60.396475  6.779833  140.937041        22

[2200 rows x 8 columns]

# Preparation pour la classification

In [15]:
X=df.drop('crop_num',axis=1)
Y=df['crop_num']


X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

# On fait la classification et on affiche l'accuracy score

In [16]:
classifier=RandomForestClassifier()
classifier.fit(X_train,Y_train)
ypred=classifier.predict(X_test)
accuracy_score(Y_test,ypred)

0.9931818181818182

# On sauvegarde le classifieur

In [17]:
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()